* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #5fc6d1f8;
}

header {
    padding: 20px 35px 20px 0px;
    background-color: rgb(56, 63, 77);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;   
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    background-color: var(--main-color);
    padding: 10px 5px 10px 5%;
    /*font-style:*/  
}

header a {
    text-decoration: none;
    color: rgb(58, 54, 54);
    
    
}

header nav {
    margin: 20px 10px 10px 0px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;   
    align-items: center;
}

header nav ul li a {
    padding: 2px 8px;
    font-weight: lighter;
    font-size: 1.65vw;
    margin: 0 10px;
    border-bottom: solid 3px var(--main-color);
    color: var(--main-color);
}

footer {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
}

footer ul {
    display: flex;
    list-style: none; 
   
}

footer ul li a {
    margin: 0 10px;
    padding: 2px 15px;
}