* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #5fc6d1f8;
    --font-color: rgb(58, 54, 54);
    --contents-color: rgb(89, 89, 102);
}

header {
    padding: 20px 35px 20px 0px;
    background-color: rgb(56, 63, 77);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;   
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    background-color: var(--main-color);
    padding: 10px 5px 10px 5%;
    /*font-style:*/  
}

header a {
    text-decoration: none;
    color: var(--font-color);
    
    
}

header nav {
    margin: 20px 10px 10px 0px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;   
    align-items: center;
}

header nav ul li a {
    padding: 2px 8px;
    font-weight: lighter;
    font-size: 1.55vw;
    margin: 0 10px;
    border-bottom: solid 3px var(--main-color);
    color: var(--main-color);
}

.hero {
    background-image: url("../images/hero.jpg");
    background-size: auto;
    background-attachment: fixed;
    display: flex;
    background-position: 80%;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero-subtitle {
    margin: 120px 50px 30px 0px;
    border: var(--main-color);
    display: flex;
    padding: 5px;
    background-color: var(--main-color);
}

.hero-subtitle h2 {
    font-size: 40px;
    color: var(--font-color);
}

.lists {
    display: flex;
    justify-content: flex-start;
   
}

.font-color {
    color:var(--font-color);
}

.list {
    margin: 30px 20px 10px 160px;
    padding: 0px 10px 50px 0px;
    border-right: solid 3px var(--contents-color);
    width: 7%;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.4vw;    
}

.list-content {
    text-align: left;
    line-height: 1.5;
    font-size: 15px;
    padding: 5px;
    margin: 30px 100px 30px 0px;
}

.applications {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
    padding: 30px 5px;
    flex: 1 0 0;
}

.work1 {
    opacity: 0.7;
    background-image: url("../images/work1.jpg");
    background-size: cover;  
    background-position: fixed;    
    border: solid 3px var(--main-color);    width: 100%;
    margin: 10px;
    display: flex;    
    justify-content: flex-start;             
}

.work1:hover {
    opacity: 1.0;
}

.work2 {
    background-image: url("../images/work2.jpg"); 
}

.work3 {
    background-image: url("../images/work3.jpg");
}

.work4 {
    background-image: url("../images/work4.jpg");
}

.work5 {
    background-image: url("../images/work5.jpg");
}

.works {
    opacity: 0.7;
    background-size: cover;      
    border: solid 3px var(--main-color);
    width: 48%;
    height: 200px;
    display: flex;
    margin: 10px 0px;    
    justify-content: flex-start;  
}

.works:hover {
    opacity: 1.0;
}

.name-tag {
    margin: 400px 0px 50px 0px;
    background-color: var(--main-color);
    display: inline-block;    
    padding: 20px;
    font-size: 1.4vw;   
}

.name-tag2 {
    margin: 80px 0px 40px 0px;
    background-color: var(--main-color);
    display: inline-block;    
    padding: 20px;
    font-size: 1.4vw;
}
.name-tag h3 {
    font-size: 20px;
    font-weight: bolder;
}

.name-tag h4 {
    font-size: 10px;
    color: var(--contents-color);
}

.name-tag2 h3 {
    font-size: 20px;
    font-weight: bolder;
}

.name-tag2 h4 {
    font-size: 10px;
    color: var(--contents-color);
}



footer ul {
    display: flex;
    list-style: none; 
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px;
    
}

footer ul li a {
    margin: 0 10px;
    padding: 2px 15px;
    display: flex;
 
}

@media screen and (max-width: 980px) {
  header {
      
      position: relative;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }
  
  header nav ul li a {
      font-size: 20px;
  }
}